body{
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
}
html{
    scroll-behavior: smooth;
}
h1, h2, h3{
    color: #ffffff;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
nav {
    background-color: #333; /* Background color of the navbar */
    position: fixed; /* Fixes the navbar at the top of the screen */
    top: 0;
    width: 100%; /* Makes the navbar stretch across the entire width of the screen */
    z-index: 1000; /* Ensures the navbar stays on top of other content */
}

/* Style the list items within the navbar */
nav ul {
    list-style-type: none; /* Removes bullets from the list */
    padding: 0;
    margin: 0;
    display: flex; /* Aligns list items in a row */
    justify-content: center; /* Aligns items to the center */
    font-family: 'Raleway';
}

/* Style the individual links in the navbar */
nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: #ffffff; /* Text color */
    text-align: center;
    padding: 13px 20px; /* Padding around each link */
    text-decoration: none; /* Removes the underline from the links */
}

nav ul li a:hover {
    background-color: #575757; /* Changes background on hover */
    text-decoration: none;
}

/* Hero Section */
.me {
    background: url('me-bg.jpg') no-repeat center center/cover;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.me h1 {
    font-size: 3rem;
}

.me p {
    font-size: 1.5rem;
}

/* About Section */
.about {
    padding: 2rem 0;
}

.about p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
}

/* Projects Section */
.projects {
    background-color: #ffffff;
    padding: 2rem 0;
}
.projects h1{
    color: #000000;
}
.projects h3{
    color: #000000;
}

.project {
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Contact Section */
.contact {
    padding: 2rem 0;
    text-align: center;
    color: #ffffff;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}